<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plant Disease Detection</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <nav class="navbar">
        <div class="nav-container">
            <div class="nav-logo">PlantCare</div>
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about')}}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        <h2>Upload a Plant Leaf Image</h2>
        <form method="POST" action="{{ url_for('predict') }}" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <button type="submit">Predict</button>
        </form>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <p>&copy; 2025 All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
